@charset "UTF-8";

body, html {
	margin: 0;
	padding: 0;
	background: white;
}

.Logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.Logo img {
	width: auto;
	height: 100px;
}

.Menu a {
  color: white;
  font-size: 30px;
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 5px;
  transition: 0.3s;
}

.Menu a:hover {
  background-color: white;
  color: black;
  text-decoration: underline;
  
}

.Menu {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 150px;
	background: black;
	width: 100%;
	height: 80px;
}